<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>user_signup_servlet</servlet-name>
        <servlet-class>user_signup_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContactServlet</servlet-name>
        <servlet-class>DeleteContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileSignUpServlet</servlet-name>
        <servlet-class>mobileSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileLogInServlet</servlet-name>
        <servlet-class>mobileLogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileAddContactServlet</servlet-name>
        <servlet-class>mobileAddContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileFetchContactsServlet</servlet-name>
        <servlet-class>mobileFetchContactsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileDeleteContactServlet</servlet-name>
        <servlet-class>mobileDeleteContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileEditContactServlet</servlet-name>
        <servlet-class>mobileEditContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileFetchDangerLocationsServlet</servlet-name>
        <servlet-class>mobileFetchDangerLocationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileFetchProfilePicServlet</servlet-name>
        <servlet-class>mobileFetchProfilePicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileAddLatLngServlet</servlet-name>
        <servlet-class>mobileAddLatLngServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchlatlngServlet</servlet-name>
        <servlet-class>fetchlatlngServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchlatlngonSpecificDateServlet</servlet-name>
        <servlet-class>fetchlatlngonSpecificDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobileVerifyAccountServlet</servlet-name>
        <servlet-class>mobileVerifyAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_signup_servlet</servlet-name>
        <url-pattern>/user_signup_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContactServlet</servlet-name>
        <url-pattern>/DeleteContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileSignUpServlet</servlet-name>
        <url-pattern>/mobileSignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileLogInServlet</servlet-name>
        <url-pattern>/mobileLogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileAddContactServlet</servlet-name>
        <url-pattern>/mobileAddContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileFetchContactsServlet</servlet-name>
        <url-pattern>/mobileFetchContactsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileDeleteContactServlet</servlet-name>
        <url-pattern>/mobileDeleteContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileEditContactServlet</servlet-name>
        <url-pattern>/mobileEditContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileFetchDangerLocationsServlet</servlet-name>
        <url-pattern>/mobileFetchDangerLocationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileFetchProfilePicServlet</servlet-name>
        <url-pattern>/mobileFetchProfilePicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileAddLatLngServlet</servlet-name>
        <url-pattern>/mobileAddLatLngServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchlatlngServlet</servlet-name>
        <url-pattern>/fetchlatlngServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchlatlngonSpecificDateServlet</servlet-name>
        <url-pattern>/fetchlatlngonSpecificDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobileVerifyAccountServlet</servlet-name>
        <url-pattern>/mobileVerifyAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
